/* Write your CSS here */
.match-item {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background-color: #0f172a;
  border-radius: 16px;
  font-family: 'Bree Serif';
  margin-bottom: 20px;
  padding: 20px;
}
.opponent-team {
  color: #ffffff;
  text-align: center;
}
.opponent-team-logo {
  width: 50%;
}
.result {
  text-align: center;
  color: #ffffff;
}
.lost {
  color: #e31a1a;
  text-align: center;
}
.won {
  color: #18ed66;
  text-align: center;
}
@media all and (min-width: 768px) {
  .match-item {
    width: 30%;
  }
}
