/* Write your CSS here */
.team-card {
  background-color: #ffffff33;
  border: 2px solid #ffffff;
  border-radius: 6px;
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 16px 0px;
  font-family: 'Bree Serif';
  padding: 10px;
}
.team-logo {
  width: 25%;
}
.team-name {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
@media all and (min-width: 768px) {
  .team-logo {
    width: 20%;
  }
  .team-name {
    font-size: 22px;
  }
}
@media all and (min-width: 992px) {
  .team-logo {
    width: 15%;
  }
  .team-name {
    font-size: 26px;
  }
}
.nav-link {
  width: 45%;
  text-decoration: none;
}
